doctype html
html
  head
    title Google Cloud Storage Uploader
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    br
    br
    br
    br
    .container
    block content
    br
    hr
    footer.footer
        .container
            span.text-muted Edited by Ashish Kumar Rena.
  script(src="/disableBtn.js")
  